<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>PennApps Fall 2015</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'pennapps-f15.css' %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" defer></script>
    <script src="https://fb.me/react-0.13.3.js" defer></script>
    <script src="{% static 'pennapps-f15.js' %}" defer></script>
  </head>
  <body>
  </body>
</html>
